{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="span12">
                <img src="#" class="about float-left mr-4" alt="image"style="height=215px width=217px background-color: lightsalmon;">
                <h6>Chris Bock</h6>
                <p>insert bios here</p>
                <a class="btn btn-info" target="_blank" href="#" role="button">github</a>
                <a class="btn btn-info" target="_blank" href="#" role="button">linkedin</a>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <img src="#" class="about float-left mr-4" alt="image"style="height=215px width=217px background-color: lightsalmon;">
                <h6>Chris Bock</h6>
                <p>insert bios here</p>
                <a class="btn btn-info" target="_blank" href="#" role="button">github</a>
                <a class="btn btn-info" target="_blank" href="#" role="button">linkedin</a>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <img src="#" class="about float-left mr-4" alt="image"style="height=215px width=217px background-color: lightsalmon;">
                <h6>Chris Bock</h6>
                <p>insert bios here</p>
                <a class="btn btn-info" target="_blank" href="#" role="button">github</a>
                <a class="btn btn-info" target="_blank" href="#" role="button">linkedin</a>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <img src="#" class="about float-left mr-4" alt="image"style="height=215px width=217px background-color: lightsalmon;">
                <h6>Chris Bock</h6>
                <p>insert bios here</p>
                <a class="btn btn-info" target="_blank" href="#" role="button">github</a>
                <a class="btn btn-info" target="_blank" href="#" role="button">linkedin</a>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}